*.out
*.txt
*.dsYm
*/c_cpp_properties.json
.vscode/settings.json
*/.ropeproject/*
*/ipch/*
.DS_Store

# Ignore Gradle project-specific cache directory
*/.gradle

# Ignore Gradle build output directory
build

# jetbrains idea
.idea
